@model List<PHONGKHAMTHUY.Models.PetModel>
@{
    ViewBag.Title = "PetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Breadcrumb = "Danh sách vật nuôi";
    ViewBag.PageText = "Danh sách vật nuôi";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-between">
                    <h4 class="card-title">Vật nuôi</h4>
                    <button data-toggle="modal" data-target="#modal-add" id="addPet" class="btn btn-primary btn-lg rounded-circle">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <h6 class="card-title mt-3">
                </h6>
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered no-wrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>TÊN VẬT NUÔI</th>
                                <th>CHỦ SỠ HỮU</th>
                                <th>LOÀI</th>
                                <th>GIỐNG</th>
                                <th>TUỔI</th>
                                <th>MÀU SẮC</th>
                                <th>CÂN NẶNG</th>
                                <th>GIỚI TÍNH</th>
                                <th>NGÀY SINH</th>
                                <th>NGÀY TẠO</th>
                                <th>SỬA</th>
                                <th>XÓA</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var pet in Model)
                            {
                                <tr>
                                    <td>@pet.IDVATNUOI</td>
                                    <td>@pet.TEN</td>
                                    <td>@pet.TENKHACHHANG</td>
                                    <td>@pet.LOAI</td>
                                    <td>@pet.GIONG</td>
                                    <td>@pet.TUOI tháng</td>
                                    <td>@pet.MAUSAC</td>
                                    <td>@pet.CANNANG kg</td>
                                    <td>@pet.GIOITINH</td>
                                    <td align="center">
                                        @(pet.NGAYSINH.HasValue ? pet.NGAYSINH.Value.ToString("dd/MM/yyyy") : "N/A")
                                    </td>
                                    <td align="center">@pet.NGAYTAO</td>
                                    <td align="center">
                                        <a href="" onclick="showDataPet(@pet.IDVATNUOI)"
                                           class="edit-account" data-id="@pet.IDVATNUOI" data-toggle="modal" data-target="#modal-edit"><i class="far fa-edit"></i></a>
                                    </td>
                                    <td align="center"><a href="@Url.Action("Delete", "Pet",new { id = pet.IDVATNUOI })"><i class="fas fa-trash-alt"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="modal-add" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="primary-header-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content modal-h-9">
            <div class="modal-header modal-colored-header bg-primary">
                <h4 class="modal-title font-weight-bold" id="primary-header-modalLabel">
                    Thêm mới vật nuôi
                </h4>
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body p-4">
                <form id="form" class="pl-3 pr-3" method="post" action="/Pet/Add" enctype="multipart/form-data">

                    <div class="card">
                        <div class="card-header font-weight-bold w-30 m-3 bg-info text-white ml" style="border-radius: 10px; margin-left: -10px !important;">
                            Khách hàng
                        </div>
                        <div class="card-body">

                            <div class="form-group">
                                <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Nhập tên khách hàng</h6>
                                <input class="form-control border-primary border-top-0 border-right-0 border-left-0"
                                       type="text" id="tenkhachhang" maxlength="50" name="tenkhachhang" required>
                            </div>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header font-weight-bold w-30 m-3 bg-info text-white ml" style="border-radius: 10px; margin-left: -10px !important;">
                            Vật nuôi
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-6">

                                    <div class="form-group">
                                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Tên vật nuôi</h6>
                                        <input class="form-control border-primary border-top-0 border-right-0 border-left-0"
                                               type="text" id="tenvn" maxlength="50" name="TEN" required>
                                    </div>

                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Ngày sinh</h6>
                                        <input class="form-control border-primary border-top-0 border-right-0 border-left-0"
                                               type="date" id="ngaysinh" maxlength="50" name="NGAYSINH" required>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header font-weight-bold w-30 m-3 bg-info text-white ml" style="border-radius: 10px; margin-left: -10px !important;">
                            Thông tin vật nuôi
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-6">

                                    <div class="form-group">
                                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Loài</h6>
                                        <select class="custom-select mr-sm-2 border-primary border-top-0 border-right-0 border-left-0 text-dark"
                                                id="loai" name="LOAI" required>
                                            <option value="">Lựa chọn</option>
                                            <option value="Chó">Chó</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Giống</h6>
                                        <select class="custom-select mr-sm-2 border-primary border-top-0 border-right-0 border-left-0 text-dark"
                                                id="giong" name="GIONG" required>
                                            <option value="">Lựa chọn</option>
                                            <option value="Pig bull">Pig bull</option>
                                        </select>
                                    </div>

                                    <div class="form-group w-40">
                                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Giới tính</h6>
                                        <select class="custom-select mr-sm-2 border-primary border-top-0 border-right-0 border-left-0 text-dark"
                                                id="gioitinh" name="gioitinh" required>
                                            <option value="">Lựa chọn</option>
                                            <option value="Đực">Đực</option>
                                            <option value="Cái">Cái</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="col-6">

                                    <div class="form-group">
                                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Màu sắc</h6>
                                        <select class="custom-select mr-sm-2 border-primary border-top-0 border-right-0 border-left-0 text-dark"
                                                id="mausac" name="MAUSAC" required>
                                            <option value="">Lựa chọn</option>
                                            <option value="Trắng">Trắng</option>
                                            <option value="Đen">Đen</option>
                                            <option value="Vàng">Vàng</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Cân nặng (kg)</h6>
                                        <input class="form-control border-primary border-top-0 border-right-0 border-left-0"
                                               type="number" id="cannang" maxlength="50" name="CANNANG" required>
                                    </div>

                                    <div class="form-group">
                                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Tuổi (tháng)</h6>
                                        <input class="form-control border-primary border-top-0 border-right-0 border-left-0"
                                               type="number" id="tuoi" maxlength="50" name="TUOI" required>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <button id="btnAdd" type="submit" class="btn btn-primary d-none"></button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="clickAdd()">Xác nhận</button>
                <button type="button" class="btn waves-effect waves-light btn-light" data-dismiss="modal">Hủy</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal-edit" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="primary-header-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content modal-h-9">
            <div class="modal-header modal-colored-header bg-primary">
                <h4 class="modal-title font-weight-bold" id="primary-header-modalLabel">
                    Cập nhật thông tin
                </h4>
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body p-4">
                <form id="form" class="pl-3 pr-3" method="post" action="/Pet/Update" enctype="multipart/form-data">

                    <div class="card">
                        <div class="card-header font-weight-bold w-30 m-3 bg-info text-white ml" style="border-radius: 10px; margin-left: -10px !important;">
                            Khách hàng
                        </div>
                        <div class="card-body">

                            <div class="form-group">
                                <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Nhập tên khách hàng</h6>
                                <input class="form-control border-primary border-top-0 border-right-0 border-left-0"
                                       type="text" id="tenkhachhang" maxlength="50" name="tenkhachhang" required>
                            </div>
                            <input name="IDVATNUOI" type="hidden" id="idvatnuoi">

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header font-weight-bold w-30 m-3 bg-info text-white ml" style="border-radius: 10px; margin-left: -10px !important;">
                            Vật nuôi
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-6">

                                    <div class="form-group">
                                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Tên vật nuôi</h6>
                                        <input class="form-control border-primary border-top-0 border-right-0 border-left-0"
                                               type="text" id="tenvn" maxlength="50" name="TEN" required>
                                    </div>

                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Ngày sinh</h6>
                                        <input class="form-control border-primary border-top-0 border-right-0 border-left-0"
                                               type="date" id="ngaysinh" maxlength="50" name="NGAYSINH" required>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header font-weight-bold w-30 m-3 bg-info text-white ml" style="border-radius: 10px; margin-left: -10px !important;">
                            Thông tin vật nuôi
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-6">

                                    <div class="form-group">
                                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Loài</h6>
                                        <select class="custom-select mr-sm-2 border-primary border-top-0 border-right-0 border-left-0 text-dark"
                                                id="loai" name="LOAI" required>
                                            <option value="">Lựa chọn</option>
                                            <option value="Chó">Chó</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Giống</h6>
                                        <select class="custom-select mr-sm-2 border-primary border-top-0 border-right-0 border-left-0 text-dark"
                                                id="giong" name="GIONG" required>
                                            <option value="">Lựa chọn</option>
                                            <option value="Pig bull">Pig bull</option>
                                        </select>
                                    </div>

                                    <div class="form-group w-40">
                                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Giới tính</h6>
                                        <select class="custom-select mr-sm-2 border-primary border-top-0 border-right-0 border-left-0 text-dark"
                                                id="gioitinh" name="gioitinh" required>
                                            <option value="">Lựa chọn</option>
                                            <option value="Đực">Đực</option>
                                            <option value="Cái">Cái</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="col-6">

                                    <div class="form-group">
                                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Màu sắc</h6>
                                        <select class="custom-select mr-sm-2 border-primary border-top-0 border-right-0 border-left-0 text-dark"
                                                id="mausac" name="MAUSAC" required>
                                            <option value="">Lựa chọn</option>
                                            <option value="Trắng">Trắng</option>
                                            <option value="Đen">Đen</option>
                                            <option value="Vàng">Vàng</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Cân nặng (kg)</h6>
                                        <input class="form-control border-primary border-top-0 border-right-0 border-left-0"
                                               type="number" id="cannang" maxlength="50" name="CANNANG" required>
                                    </div>

                                    <div class="form-group">
                                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Tuổi (tháng)</h6>
                                        <input class="form-control border-primary border-top-0 border-right-0 border-left-0"
                                               type="number" id="tuoi" maxlength="50" name="TUOI" required>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card" id="MSTTK">
                        <div class="card-header font-weight-bold w-30 m-3 bg-info text-white ml" style="border-radius: 10px; margin-left: -10px !important;">
                            Một số thông tin khác
                        </div>
                        <div class="card-body">

                            <div class="form-group ">
                                <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Ngày tạo</h6>
                                <label id="ngaytao" class="font-weight-bold m-3"></label>
                            </div>

                            <div class="form-group ">
                                <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Ngày sửa gần nhất</h6>
                                <label id="ngaysua" class="font-weight-bold m-3"></label>
                            </div>
                        </div>
                    </div>

                    <button id="actionModal" type="submit" class="btn btn-primary d-none"></button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="clickSuscess()">Xác nhận</button>
                <button type="button" class="btn waves-effect waves-light btn-light" data-dismiss="modal">Hủy</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
