@model List<PHONGKHAMTHUY.Models.CSLAppointmentSlipModel>
@{
    ViewBag.Title = "Danh sách kết quả xét nghiệm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Breadcrumb = "Kết quả xét nghiệm";
    ViewBag.PageText = "Danh sách kết quả xét nghiệm";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Kết quả</h4>
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered no-wrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tiêu đề</th>
                                <th>Vật nuôi</th>
                                <th>Khách hàng</th>
                                <th>Ngày nhận</th>
                                <th>Ngày trả</th>
                                <th>Chi tiết</th>
                                <th>Xóa</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var list in Model)
                            {
                                <tr>
                                    <td>@list.KETQUAXN.IDKETQUAXN</td>
                                    <td>@list.HANGMUC.LOAIHANGMUC</td>
                                    <td>
                                        <span style="color:blueviolet">@list.VATNUOI.TEN</span><br />
                                        @list.VATNUOI.LOAI - @list.VATNUOI.GIONG<br />
                                        @list.VATNUOI.TUOI tháng
                                    </td>
                                    <td>
                                        <span style="color:blueviolet">@list.KHACHHANG.HOTEN</span><br />
                                        Đ/c:@list.KHACHHANG.DIACHI<br />
                                        @list.KHACHHANG.DIENTHOAI
                                    </td>
                                    <td>@list.KETQUAXN.NGAYTAO</td>
                                    <td>@list.KETQUAXN.NGAYTRA</td>
                                    <td><a href="@Url.Action("ShowResult", "CSLAppointmentSlip",new { id = list.KETQUAXN.IDHANGMUC })"><i class="icon-info"></i></a></td>
                                    <td><a href="@Url.Action("Delete", "CSLAppointmentSlip",new { id = list.KETQUAXN.IDHANGMUC })"><i class="fas fa-trash-alt"></i></a></td>
                                </tr>
                            }
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

